:root {
	--text-color: white;
	--background: #202731;

	--blue: #3c31dd;
	--red: #dd3f31;
	--pink: #ff0066;
	--dark: #0f0f10;
	--light-red: #ff0000;

	--white: #fff;
	--black: #000;
	--dark-grey: #333;
	--almost-black: #0004;

	--button-red: #ff1f71;
	--button-blue: #2bd2ff;
	--button-green: #1eff45;

	--button-gradient-1: #00cc99;
	--button-gradient-2: #006dd4;

	--services-background: #51446e;

	--navlang-blue: #5da6ff;

	--button-outline: #0e1528;
}
