:root {
	--text-color: white;
	--background: #202731;

	--blue: #3c31dd;
	--red: #dd3f31;
	--pink: #ff0066;
	--dark: #0f0f10;

	--white: #fff;
	--dark-grey: #333;

	--button-red: #ff1f71;
	--button-blue: #2bd2ff;
	--button-green: #1eff45;
}

/* My own styles! */
P {
	line-height: 25px;
}

.center {
	justify-content: center;
}

.description {
	font-weight: 600;
	font-size: large;
	color: var(--red);
}

/* Main webpage (thanks Fireship!) */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Readex Pro", sans-serif;
	color: var(--text-color);
	background: var(--background);
	overflow-x: hidden;
	min-height: 100vh;
}
section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 400px;
	padding: 100px 20vw;
}

.blue {
	background: var(--blue);
}
.red {
	background: var(--red);
}
.pink {
	background: var(--pink);
}
.dark {
	background: var(--dark);
}

.wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(150% + 1.3px);
	height: 300px;
}

.wave .shape-fill {
	fill: #202731;
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.layer-1 {
	background-image: url("../assets/svg/layer-1.svg");
}
.layer-2 {
	background-image: url("../assets/svg/layer-2.svg");
}
.flip {
	transform: rotate(180deg);
}

.blob-motion {
	position: absolute;
	transform: translateY(-20%);
	z-index: 0;
}
.blob-content {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Navbar (thanks Online Tutorials!) */
header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: var(--dark);
	width: 100%;
	box-sizing: border-box;
	z-index: 100;
}

header .logo {
	color: var(--white);
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav {
	float: right;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}
header nav ul li {
	list-style: none;
}
header nav ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: var(--white);
	text-decoration: none;
	display: block;
}
header nav ul li a:hover {
	color: var(--white);
	background: var(--red);
}
header nav ul li a.active {
	color: var(--white);
	background: var(--red);
}

.menu-toggle {
	color: var(--white);
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 991px) {
	header {
		padding: 0 20px;
	}
	.menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: var(--dark-grey);
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active {
		left: 0;
	}
	header nav ul {
		display: block;
		text-align: center;
	}
	header nav ul li a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
}

/* Button Styles (thanks Online Tutorials!) */
.container {
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Me: Added responsive layout */
@media (max-width: 800px) {
	.container {
		width: 600px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}

.container .btn {
	position: relative;
	width: 155px;
	height: 50px;
	margin: 20px;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	color: var(--white);
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}

.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translateX(0);
	transition: 0.5s;
}
.container .btn:hover a::before {
	transform: skewX(45deg) translateX(200%);
}

.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: var(--button-red);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
}
.container .btn:hover::before {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.5s;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: var(--button-red);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
}
.container .btn:hover::after {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.5s;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after {
	background: var(--button-red);
	box-shadow: 0 0 5px var(--button-red), 0 0 15px var(--button-red), 0 0 30px var(--button-red),
		0 0 60px var(--button-red);
}
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after {
	background: var(--button-blue);
	box-shadow: 0 0 5px var(--button-blue), 0 0 15px var(--button-blue), 0 0 30px var(--button-blue),
		0 0 60px var(--button-blue);
}
.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after {
	background: var(--button-green);
	box-shadow: 0 0 5px var(--button-green), 0 0 15px var(--button-green),
		0 0 30px var(--button-green), 0 0 60px var(--button-green);
}
